/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/

.contain {
    max-width: 968px;
}

.discover__card {
    position: relative;
    overflow: var(--img-hidden);
    box-shadow: 0px 4px 30px hsla(var(--hue), var(--sat), var(--lig), .25);

}

.discover__data {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
}

.discover__title,
.discover__description {
    color: var(--white-color);
}

.discover__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}

.discover__description {
    display: block;
    font-size: var(--smaller-font-size);
}

.discover__img {
    transition: var(--img-transition);
}

.discover__img:hover {
    transform: var(--img-scale);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    background-color: #ffffff;
    height: 24px;
}

.swiper-pag {
    height: 24px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.site-main .project-area {
    padding: 4rem 0;
}

.site-main .project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button+button {
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project>.title h4 {
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */


/* About Me */

.site-main .about-area .about-title p {
    padding: 1rem 7rem;
}

.site-main .about-area .client {
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
    padding: 2rem;
}

.site-main .about-area .client .about-client {
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4 {
    font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p {
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}


/* End About Me */


/* Subscribe me */

.site-main .subscribe-us-area .subscribe {
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4 {
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input {
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder {
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button {
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /*
      Blue: hsl(207, 90%, 61%)
      Purple: hsl(250, 66%, 75%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */
    --hue: 207;
    --sat: 90%;
    --lig: 61%;
    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--hue), var(--sat), 57%);
    /* -4% */
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 12%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

@media screen and (min-width: 992px) {
     :root {
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s;
    /* For animation dark mode */
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


/*=============== THEME ===============*/

.icon {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: hsl(var(--hue), 12%, 95%);
    width: 40px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 99999;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: .3s;
}

.change-theme:hover {
    color: var(--first-color);
}


/*========== Variables Dark theme ==========*/

body.dark-theme {
    --title-color: hsl(var(--hue), 12%, 95%);
    --text-color: hsl(var(--hue), 12%, 75%);
    --body-color: hsl(var(--hue), 40%, 8%);
    --container-color: hsl(var(--hue), 24%, 12%);
}


/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/

.dark-theme .icon {
    background-color: var(--container-color);
}

.dark-theme .button__gray {
    background-color: var(--container-color);
}

.dark-theme .button__gray:hover {
    background-color: hsl(var(--hue), 24%, 16%);
}

.dark-theme .filters__content {
    background-color: var(--container-color);
}

.dark-theme::-webkit-scrollbar {
    background-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme::-webkit-scrollbar-thumb {
    background-color: hsl(var(--hue), 8%, 24%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--hue), 8%, 32%);
}

.dark-theme .Continer {
    background-color: var(--container-color);
    box-shadow: 1px 1px 6px var(--container-color);
}

.dark-theme .Continer:hover {
    background-color: hsl(var(--hue), 8%, 32%);
}

.dark-theme .swiper-pagination {
    background-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme .contact {
    background-color: hsl(var(--hue), 24%, 10%);
    box-shadow: hsl(var(--hue), 8%, 16%) 5px 5px 5px;
}

.dark-theme .contact .form input[type="text"] {
    background-color: var(--body-color);
    color: #fff;
}

.dark-theme .contact .form textarea {
    background-color: var(--body-color);
    color: #fff;
}
.dark-theme .discover__card{
    box-shadow: 0 4px 20px hsla(var(--hue), var(--sat), var(--lig), .25);

}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}


/*=============== PROFILE ===============*/

.profile__flex {
    display: flex;
    justify-content: flex-start;
}

.profile__cover {
    height: 300px;
    background: url("../img/mohammad-alizade-4wzRuAb-KWs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.profile__perfil {
    width: 140px;
    height: 140px;
    background: linear-gradient(180deg, hsla(var(--hue), var(--sat), var(--lig), 1) 0%, hsla(var(--hue), var(--sat), var(--lig), .2) 100%);
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
}

.profile__perfil img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile_info {
    margin-top: 1rem;
}

.profile__border {
    border: 3.5px solid var(--first-color);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-top: -2rem;
}

.profile__name {
    font-size: var(--h2-font-size);
    margin-left: 1rem;
}

.profile__profession {
    font-size: var(--smaller-font-size);
    margin-left: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.profile__social {
    display: flex;
    column-gap: .75rem;
    margin-left: 1.2rem;
}

.profile__social-link {
    font-size: 1.25rem;
    color: var(--title-color);
    transition: .3s;
}

.profile__social-link:hover {
    color: var(--first-color);
}

.profile__info {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 2.5rem;
    margin-top: 0.5rem;
}

.profile__cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
}

.profile__info-group {
    text-align: center;
}

.profile__info-number {
    font-size: var(--normal-font-size);
    margin-bottom: .25rem;
}

.profile__info-description {
    font-size: var(--smaller-font-size);
    font-weight: 500;
}

.profile__buttons {
    margin-top: 1.5rem;
}

.profile__buttons,
.profile__buttons-small {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__buttons {
    column-gap: 1rem;
}

.profile__buttons-small {
    column-gap: .25rem;
}


/*=============== BUTTONS ===============*/

.button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    color: #fff;
    padding: 1.15rem 1.5rem;
    border-radius: .5rem;
    transition: .3s;
    box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
}

.button i {
    font-size: 1.25rem;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__small {
    padding: .75rem;
    box-shadow: none;
}

.button__gray {
    background-color: var(--text-color-lighten);
    color: var(--title-color);
}

.button__gray:hover {
    background-color: var(--text-color-light);
}

.section p {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.Continers {
    display: flex;
    justify-content: center;
}

.Continer {
    width: 200px;
    height: 200px;
    margin: 2rem 0.5rem 0rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 15px hsla(var(--hue), var(--sat), var(--lig), .25);
    padding: 1rem;
    cursor: pointer;
}

.Continer i {
    display: flex;
    justify-content: center;
    margin: 15px 0 5px;
    font-size: 30px;
    color: var(--first-color);
}

.Continer p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.Continer h6 {
    text-align: center;
    font-weight: lighter;
    font-size: 10px;
    margin-top: 15px;
}

.mySlides1 {
    display: none
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.profile__container {
    display: flex;
    justify-content: space-evenly;
}

.paragraph {
    width: 380px;
    margin-top: 5rem;
    text-align: center;
}

.slideshow-container {
    height: 420px;
}

.mySlides1 img {
    height: 420px;
    width: 100%;
    object-fit: cover;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 200px;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}


/* On hover, add a grey background color */

.prev:hover,
.next:hover {
    background-color: #f1f1f1;
    color: black;
}


/*=============== FILTERS TABS===============*/

.filters__content {
    margin: 2rem 0 2.5rem;
    background-color: var(--text-color-lighten);
    padding: .375rem;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
    column-gap: .5rem;
}

.filters__button {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-family: var(--body-font);
    font-weight: 500;
    border-radius: .75rem;
    cursor: pointer;
    background-color: transparent;
    transition: .3s;
}

.filters__button:hover {
    background-color: var(--body-color);
}


/*=============== PROJECTS ===============*/

.projects__card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.projects__card img {
    width: 100%;
    height: 100%;
}

.projects__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: linear-gradient(180deg, hsla(var(--hue), 24%, 40%, .3) 0%, hsla(var(--hue), 24%, 4%, 1) 95%);
    display: grid;
    align-items: flex-end;
    padding: 1.5rem 1.25rem;
    transition: .3s;
}

.projects__subtitle,
.projects__title {
    color: #fff;
}

.projects__subtitle {
    font-size: var(--smaller-font-size);
}

.projects__title {
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.projects__button {
    padding: .5rem;
}

.projects__card:hover .projects__modal {
    bottom: 0;
}


/*=============== SKILLS ===============*/

.skills__content {
    row-gap: 3.5rem;
}

.skills__title {
    font-size: var(--h3-font-size);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.skills__group {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: .5rem;
}

.skills__data i {
    font-size: 1rem;
    color: var(--first-color);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: 500;
    line-height: 18px;
}

.skills__level {
    font-size: var(--smaller-font-size);
}


/* Hide and show projects & skills */

.filters [data-content] {
    display: none;
}

.filters__active[data-content] {
    display: grid;
}


/* Activate button filter */

.filter-tab-active {
    background-color: var(--body-color);
}

.contact {
    background-color: #fff;
    box-shadow: 0px 5px 15px #764ef936;
    overflow: hidden;
    padding-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

.contact .info {
    width: 50%;
    margin-right: 5%
}

.contact h2 {
    color: var(--first-color);
    margin-left: 40px
}

.contact p {
    color: #6A6E71;
    margin-left: 40px
}

.contact p strong {
    color: var(--first-color);
}

.contact .form {
    width: 45%
}

.contact .form label {
    display: block;
    color: var(--first-color);
    margin: 5px 0
}

.contact .form input[type="text"] {
    background-color: #eeeeee;
    color: #000000;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px
}

.contact .form textarea {
    background-color: #eeeeee;
    color: #000000;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 120px
}

.contact .form input[type="submit"] {
    background-color: var(--first-color);
    box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
    border-radius: 5px;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/*=============== FOOTER ===============*/

.footer {
    background-color: var(--first-color);
    margin: 2px 0 0;
    margin: 2rem 0 0rem;
}

.footer__copy {
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: #fff;
}


/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(var(--hue), 8%, 66%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--hue), 8%, 54%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--hue), 8%, 44%);
}


/*=============== BREAKPOINTS ===============*/


/* For small devices */


/* For medium devices */

@media screen and (max-width: 450px) {
    .profile__flex {
        display: grid;
        justify-content: center;
    }
    .profile__margin {
        margin-left: 0;
    }
    .profile__border {
        display: flex;
        justify-content: center;
        margin-top: -3rem;
    }
    .profile__name {
        margin-left: 0;
    }
    .profile__profession {
        margin-left: 0;
    }
    .profile__social {
        margin-left: 0rem;
    }
    .profile_info {
        text-align: center;
    }
    .profile__social {
        justify-content: center;
    }
    .profile__buttons {
        display: grid;
        justify-content: center;
        margin-left: 2rem;
    }
    .profile__buttons-small {
        margin-top: 0.5rem;
    }
    .grid {
        display: flex;
    }
    .profile__info {
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        column-gap: 1rem;
        margin-top: 2rem;
    }
    .profile__buttons a {
        font-size: 0.8rem;
    }
    .button i {
        font-size: 1rem;
    }
    .profile__cont {
        margin-left: 0;
    }
    .filters__content {
        width: 80%;
        column-gap: 0.1rem;
        margin: 2rem auto;
    }
    .paragraph {
        width: 230px;
        margin-top: 2rem;
    }
    .filters__content {
        margin: 2rem 0 2.5rem;
        padding: .25rem;
        display: block;
        row-gap: .5rem;
    }
}

@media screen and (max-width: 576px) {
    .projects__content {
        grid-template-columns: 100%;
        justify-content: center;
    }
    .filters__content {
        width: 90%;
        column-gap: .3rem;
        margin: 2rem auto;
    }
    .profile__margin {
        margin-left: 0;
        display: grid;
        justify-content: center;
    }
    .Continers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Continer {
        width: 230px;
        height: 220px;
        padding: 2rem;
    }
}

@media screen and (min-width: 776px) {
    .projects__content,
    .skills__content {
        grid-template-columns: repeat(3, 30%);
    }
    .skills__content {
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (max-width: 1000px) {
    .skills__content {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 776px) {
    .skills__content {
        grid-template-columns: repeat(1, 100%);
    }
    .container {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .contact .info {
        width: 96%;
        margin: 30px 10px 10px;
        padding: 0px
    }
    .contact .info p,
    .contact .info h2 {
        margin: 0;
    }
    .contact .form {
        width: 95%;
        margin: 30px 10px 10px;
    }
    .contact .form input[type="text"] {
        width: 100%;
    }
    .contact .form input[type="submit"] {
        width: 100%;
    }
    .contact .form textarea {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .profile__container {
        display: grid;
        justify-content: center;
    }
    .paragraph {
        margin-top: 2rem;
    }
}


/* For large devices */

@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .change-theme {
        top: 2.5rem;
        right: 2.5rem;
    }
    .profile {
        padding-top: 4rem;
    }
    .profile__border {
        width: 165px;
        height: 165px;
        margin-bottom: 1rem;
    }
    .profile__perfil {
        width: 155px;
        height: 155px;
    }
    .profile__perfil img {
        width: 155px;
    }
    .profile__info {
        column-gap: 3rem;
    }
    .profile__info-description {
        font-size: var(--small-font-size);
    }
    .profile__buttons {
        column-gap: 2rem;
    }
    .projects__content {
        gap: 2rem 3rem;
    }
    .projects__modal {
        padding: 1.5rem;
    }
    .skills__title {
        font-size: var(--normal-font-size);
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width: 992px) {
    .slideshow-container {
        height: 250px;
    }
    .mySlides1 img {
        height: 250px;
        width: 100%;
    }
    .prev,
    .next {
        top: 110px;
    }
}
